h1, h2 {
	color: #B1C3D7;
}
h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 32px;
}
h2 {
	font-size: 20px;
	font-weight: lighter;
}

body {
	text-align: center;
	font-family: 'Kurb', sans-serif;
	background-color: #F6F6F6;
}

p {
	text-justify: center;
	color: #757575;
	font-size: 16px;
}


a{
	text-decoration: none;
	transition: color 0.3s ease;
	color: #707070;
	font-size: 16px;
}
a:hover {
	color: #F6F6F6;
	text-decoration: none;
}

div {
	width: 700px;
	margin: 40px auto;
}
@media (max-width: 700px) {
	div {width: auto;
		}
	}


.card-white {
	background-color: white;
	border-radius: 5px;
	padding: 18px 40px 30px 40px;
	box-shadow: 0px 5px 20px #B1C3D7;
	margin: 22px 0px;
	text-align: center;
}


#picture {
	border-radius: 50%;
	width: 130px
}


.btn-bluegrey {
	transition: color 0.3s ease;
	transition: background-color 0.3s ease;
	background-color: #B1C3D7;
	border-radius: 5px;
	color: #FFFFFF;
	padding: 15px 20px;
}
.btn-bluegrey:hover {
	color: #707070;
	background-color: #F6F6F6;
}


.list-inline {
	list-style: none;
	padding-left: 0px;
}
.list-inline li {
	display: inline;
	padding: 10px;
}
.list-inline i {
	font-size: 40px;
	color: #707070;
	transition: color 0.3s ease;
	text-decoration: none;
}
.list-inline i:hover {
	color: #B1C3D7;
	text-decoration: none;
}


#introduction p {
	margin-bottom: 40px;
}